
:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Exo", sans-serif;
  
}
.path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 15s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
    opacity: 20%;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 100%;
  }
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


button,
fieldset,
input,
legend,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* input,
select,
textarea {
  border: 2px dotted #333;
  background-color: white;
  border-radius: 0.25rem;
} */

.chad {
  position: absolute;
  top: 80px;
  left: 80px;
  border: solid 2px black;
  width: 200px;
  height: 200px;
  visibility: hidden;
}
.hidden {
  display: none;
}

.input > input{
  font-size: 16px;
  font-size: max(16px, 1em);
/*   font-family: inherit; */
  font-family: "Spline Sans Mono", monospace;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  transition: 350ms box-shadow ease-in-out;
}
.input > input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}

.input > input:focus {
  border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
  box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
  outline: 3px solid transparent;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 3px solid #8b8b8b;
  border-radius: 8px;
  margin: auto 10px; 
  cursor: pointer;
  height: 2em;
  padding: 0;
  width: 2em;
}

*:focus{
  border-radius: 0;
  outline: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch{
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner{
  border: 0;
}

::-moz-focus-inner{
  padding: 0;
}

#preview {
  margin: 40px auto 0;
  width: 200px;
  height: 200px;
}

.container {  
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "prompt inputs";
}

.prompt {
  background: pink;
}

.prompt > svg {
  margin: 50px 25px;
}

.inputs {
  background: #aaa;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.4em 0em;
  grid-auto-flow: row;
  grid-template-areas:
    "inputColor1 input1"
    "inputColor2 input2"
    "inputColor3 input3"
    "inputColor4 input4"
    "inputColor5 input5";
  grid-area: inputs;
  justify-items: start;
  padding: 20px;
}

/* .inputColor {
  border: 1px solid lightgray;
/*   border-radius: 4px; */
/*   justify-self: end; */
/*   margin: auto 10px;  */
/*   background: orange; */
/* } /// */

.inputColor[data-number='1'] { 
  grid-area: inputColor1;
  justify-self: end;
}
.inputColor[data-number='2'] { 
  grid-area: inputColor2;
  justify-self: end;
}
.inputColor[data-number='3'] { 
  grid-area: inputColor3;
  justify-self: end;
}
.inputColor[data-number='4'] { 
  grid-area: inputColor4;
  justify-self: end;
}
.inputColor[data-number='5'] { 
  grid-area: inputColor5;
  justify-self: end;
}


/*.text1 { grid-area: text1; }
.text2 { grid-area: text2; }
.text3 { grid-area: text3; }
.text5 { grid-area: text5; } */

.input[data-number='1'] { grid-area: input1; }

.input[data-number='2'] { grid-area: input2; }

.input[data-number='3'] { grid-area: input3; }

.input[data-number='4'] { grid-area: input4; }

.input[data-number='5'] { grid-area: input5; }

.prompt { grid-area: prompt; }


